header{
    font-family: sans-serif;;
    font-size: 30px;
    color: green;
    margin-left:20px;
}
path {
    stroke: #03040A;
    stroke-width: 0.5px;
}
div.tooltip {   
    position: absolute;         
    text-align: center;         
    width: 200px;                    
    height: 40px;                   
    padding: 2px;               
    font: 12px sans-serif;      
    background: lightsteelblue; 
    border: 0px;        
    border-radius: 8px;         
    pointer-events: none;           
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
    stroke: black;
    stroke-width: 2;
    fill: none;
}

.legend rect {
    fill:black;
    opacity:0.8;
}

select { 
    width: 100px;
    margin-top:30px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.title{
    display: block;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

#instruction{
    color:red;
    margin-left:20px;
}




